Adafruit-Blinka==6.19.0
adafruit-circuitpython-hid==5.2.1
Adafruit-PlatformDetect==3.19.2
Adafruit-PureIO==1.1.9
alabaster==0.7.12
algopy==0.5.7
altgraph==0.17
anaconda-client @ file:///tmp/build/80754af9/anaconda-client_1635342443376/work
anaconda-navigator==1.9.12
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1637161053845/work
appdirs==1.4.4
argh==0.26.2
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astroid @ file:///tmp/build/80754af9/astroid_1639026100009/work
astropy @ file:///tmp/build/80754af9/astropy_1629829214319/work
atomicwrites==1.4.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
autograd==1.4
autograd-gamma==0.5.0
autopep8 @ file:///opt/conda/conda-bld/autopep8_1639166893812/work
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
bitarray @ file:///tmp/build/80754af9/bitarray_1641817257521/work
bkcharts==0.2
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
bokeh @ file:///tmp/build/80754af9/bokeh_1638362823963/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cbor==1.0.0
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
chardet @ file:///tmp/build/80754af9/chardet_1607706768982/work
charset-normalizer==2.0.12
click @ file:///tmp/build/80754af9/click_1646056591685/work
click-plugins==1.1.1
cligj==0.7.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda==4.12.0
conda-build==3.18.11
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262151086/work
conda-verify==3.4.2
contextlib2 @ file:///Users/ktietz/demo/mc3/conda-bld/contextlib2_1630668244042/work
cryptography @ file:///tmp/build/80754af9/cryptography_1639414570729/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython @ file:///tmp/build/80754af9/cython_1639474571709/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1630523592567/work
deap==1.4.1
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepdiff==6.7.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
distlib==0.3.1
distributed @ file:///tmp/build/80754af9/distributed_1630619985733/work
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fastcache==1.1.0
filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
Fiona==1.9.4.post1
fitter==1.5.2
flake8 @ file:///opt/conda/conda-bld/flake8_1643087950025/work
Flask @ file:///tmp/build/80754af9/flask_1634118196080/work
fonttools==4.25.0
fsspec @ file:///opt/conda/conda-bld/fsspec_1647268051896/work
future==0.18.2
geopandas==0.10.2
gevent @ file:///tmp/build/80754af9/gevent_1628265585516/work
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532931/work
greenlet @ file:///tmp/build/80754af9/greenlet_1628888132158/work
h11==0.14.0
h5py==2.10.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
ibge==0.0.5
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imagecodecs @ file:///tmp/build/80754af9/imagecodecs_1635529103726/work
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
imagesize @ file:///tmp/build/80754af9/imagesize_1637939814114/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1638529598726/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
install==1.3.5
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1617118429768/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi==0.14.1
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter==1.0.0
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1646994442130/work
jupyterlab==1.2.6
jupyterlab-server==1.0.6
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
keyring @ file:///tmp/build/80754af9/keyring_1638531257242/work
Kivy==2.1.0
Kivy-Garden==0.1.5
kivymd==0.104.2
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1638569886207/work
lazy-object-proxy @ file:///tmp/build/80754af9/lazy-object-proxy_1616529086024/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
llvmlite==0.37.0
locket @ file:///tmp/build/80754af9/locket_1646988443534/work
lxml @ file:///tmp/build/80754af9/lxml_1646642640462/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528142364/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1647441664166/work
matpowercaseframes==1.0.7
mccabe==0.6.1
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1637733554872/work
mplcursors==0.5.1
mpmath==1.2.1
msgpack @ file:///tmp/build/80754af9/msgpack-python_1612287175283/work
multipledispatch==0.6.0
munkres==1.1.4
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
necpp==1.7.3.5
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx @ file:///tmp/build/80754af9/networkx_1627459939258/work
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
nose @ file:///opt/conda/conda-bld/nose_1642704612149/work
notebook==6.0.3
numba @ file:///tmp/build/80754af9/numba_1635185929515/work
numdifftools==0.9.40
numexpr @ file:///tmp/build/80754af9/numexpr_1640704205123/work
numpy==1.21.6
numpydoc @ file:///opt/conda/conda-bld/numpydoc_1643788541039/work
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
ordered-set==4.1.0
outcome==1.3.0.post0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandapower==2.11.1
pandas==1.3.4
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso==0.5.2
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
path @ file:///opt/conda/conda-bld/path_1641578212155/work
pathlib2 @ file:///tmp/build/80754af9/pathlib2_1625578943650/work
pathtools @ file:///Users/ktietz/demo/mc3/conda-bld/pathtools_1629713893697/work
patsy==0.5.2
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
pkginfo @ file:///tmp/build/80754af9/pkginfo_1643162084911/work
platformdirs @ file:///tmp/build/80754af9/platformdirs_1638968569495/work
pluggy @ file:///tmp/build/80754af9/pluggy_1633715207791/work
ply==3.11
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
psutil @ file:///tmp/build/80754af9/psutil_1612298016854/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pycodestyle==2.8.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycrypto==2.6.1
pycurl==7.44.1
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1621600989141/work
pyerfa @ file:///tmp/build/80754af9/pyerfa_1621560191196/work
pyflakes @ file:///tmp/build/80754af9/pyflakes_1617200973297/work
pyftdi==0.53.3
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pylint @ file:///tmp/build/80754af9/pylint_1639632474217/work
PyNEC==1.7.3.4
pyodbc @ file:///tmp/build/80754af9/pyodbc_1647425885696/work
Pyomo==6.6.2
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyproj==3.2.1
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636098896055/work
pyserial==3.5
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
pytest==6.2.5
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server==0.31.7
pytz==2021.3
pyusb==1.2.1
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658308664/work
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638434924971/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1637160816833/work
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1643819126524/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1643087291789/work
regex @ file:///opt/conda/conda-bld/regex_1642021319040/work
reliability==0.8.5
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
rope @ file:///opt/conda/conda-bld/rope_1643788605236/work
Rtree @ file:///tmp/build/80754af9/rtree_1618420842307/work
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016701961/work
scikit-fuzzy==0.4.2
scikit-image==0.18.3
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642601761909/work
scipy @ file:///tmp/build/80754af9/scipy_1641536880743/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
SecretStorage @ file:///tmp/build/80754af9/secretstorage_1614022884812/work
selenium==4.11.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
shapely==2.0.1
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1629321204894/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.1
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
Sphinx @ file:///opt/conda/conda-bld/sphinx_1643644169832/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1638290668340/work
statsmodels @ file:///tmp/build/80754af9/statsmodels_1614023743307/work
subprocess32==3.5.4
sympy @ file:///tmp/build/80754af9/sympy_1635225445488/work
tables==3.6.1
tabulate==0.9.0
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
terminado @ file:///tmp/build/80754af9/terminado_1644304459949/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
trio==0.22.2
trio-websocket==0.11.1
typed-ast @ file:///tmp/build/80754af9/typed-ast_1624953380449/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
ujson @ file:///opt/conda/conda-bld/ujson_1640703856928/work
undetected-chromedriver==3.5.5
unicodecsv==0.14.1
urllib3==1.26.9
virtualenv==20.0.25
watchdog @ file:///tmp/build/80754af9/watchdog_1638367288901/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websockets==11.0.3
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1645009354203/work
wrapt @ file:///tmp/build/80754af9/wrapt_1638420625940/work
wsproto==1.2.0
wurlitzer @ file:///tmp/build/80754af9/wurlitzer_1638368164445/work
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1636633762820/work
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
zict==2.0.0
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
zmq==0.0.0
zope.event==4.5.0
zope.interface @ file:///tmp/build/80754af9/zope.interface_1625029694761/work
